<h1 class="title animated jackInTheBox">Lista de Tarefas</h1>
<ul class="animated tada" *ngIf="mode == 'list'" >
  <p><small *ngIf="todos.length == 0">Você não tem tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">{{todo.id}}.{{todo.todo}} | <button *ngIf="!todo.done"
      (click)="mudaStatusTrue(todo)">Concluir</button>
    | <button *ngIf="todo.done" (click)="mudaStatusfalse(todo)">Refazer</button>|<button
      (click)="removeTarefa(todo)">Remover</button></li>
</ul>
<div id="modal" *ngIf="mode == 'adicionar'" class = "animated flipInX">
  <form [formGroup]="form">
    <fieldset>
      <label>Tarefa </label>
      <input type="text" placeholder="Titulo da Tarefa" maxlength="60" formControlName="title">
      
      
      <button [disabled]="form.invalid" (click)="adicionarTarefa()"> Salvar </button>
    </fieldset>
  </form>

</div>
<button class="add-button animated fadeInUp button" (click)="trocarModo('adicionar')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="trocarModo('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>

